<section class="navbar " [class.menu-active]="isMenuOpen">

    <div class="inner">
        <div class="main-nav">
            <a routerLink="/home">
                <div class="brand">
                    <div class="icon">
                        <img src="/images/brand.png" alt="weather app logo">
                    </div>
                    <div class="title">SkyCast<span>.</span></div>
                </div>
            </a>

            <div class="ham-icon">
                <i class="fa-solid fa-bars" (click)="toggleNavbarMenu()"></i>
            </div>
        </div>



        <div class="menu" [class.active]="isMenuOpen">
            <ul class="navbar-menu">
                <li class="active">Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>

</section>
