<section class="navbar">

    <div class="inner">
        <div class="brand">
            <div class="icon">
                <img src="/images/brand.png" alt="weather app logo">
            </div>
            <div class="title">SkyCast<span>.</span></div>
        </div>

        <div class="menu">
            <div class="menu-icon">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="navbar-menu">
                <li class="active">Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>

</section>
