<section class="navbar">

    <div class="inner">
        <a routerLink="/home">
            <div class="brand">
                <div class="icon">
                    <img src="/images/brand.png" alt="weather app logo">
                </div>
                <div class="title">SkyCast<span>.</span></div>
            </div>
        </a>


        <div class="menu">
            <ul class="navbar-menu">
                <li class="active">Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>

</section>
