<section>

    <div class="container">
        <div class="divider"></div>
        <div class="content">
            <div class="brand">
                <div class="icon">
                    <img src="/images/brand.png" alt="weather app logo">
                </div>
                <div class="title">SkyCast<span>.</span></div>
            </div>

            <p class="desc">A weather application delivering accurate and real-time weather updates for users.</p>

            <div class="social-icons">
                <div class="icon">
                    <i class="fa-brands fa-facebook-f"></i>
                </div>

                <div class="icon">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>

                <div class="icon">
                    <i class="fa-brands fa-twitter"></i>
                </div>

                <div class="icon">
                    <i class="fa-brands fa-google-plus-g"></i>
                </div>
            </div>

            <div class="footer2">
                <p>©2025 SkyCast, All Rights Reserved.</p>
                <p>Designed, and developed by Shaymaa Essa</p>
            </div>

        </div>
    </div>

</section>