<section>
    <div class="overlay">
        <div class="container">
            <div class="info">
                <h2>Today Weather</h2>
                <p>Here is the weather details according to your current GeoLocation</p>
    
            </div>

            <div class="search">
                <input type="text" #countryInput class="search-country" placeholder="Search For Country ..." (keydown.enter)="searchCountryWeather(countryInput.value)">
                <i class="fa fa-search" (click)="searchCountryWeather(countryInput.value)"></i>
            
            </div>
    
            <div class="grid">
                <div class="weather-info div1">
                    <div class="city">
                        <h3>{{weatherInfo.location.name}}, {{weatherInfo.location.country}}</h3>
                        <div class="icon">
                           <img [src]="weatherInfo.current.condition.icon" [alt]="weatherInfo.current.condition.text">
                        </div>
                    </div>
    
                    <div class="weather-degree">
                        <p>{{weatherInfo.location.localtime.split(" ")[0]}}</p>
                        <span class="degree">{{weatherInfo.current.temp_c}}°</span>
                        <span class="state">{{weatherInfo.current.condition.text}}</span>
                        <div class="info-row">
                            <span>Wind</span>
                            <span class="divider">|</span>
                            <span>{{weatherInfo.current.wind_kph}} km/h</span>
                          </div>
                          
                          <div class="info-row">
                            <span>Hum</span>
                            <span class="divider">|</span>
                            <span>{{weatherInfo.current.humidity}}%</span>
                          </div>
                    </div>
                </div>
    
                <div class="weather-info state div2">
                    <div class="icon"><i class="fa-solid fa-wind"></i></div>
                    <p>Wind {{weatherInfo.current.wind_kph}} km/h</p>
                </div>
    
                <div class="weather-info state div3">
                    <div class="icon"><i class="fa-solid fa-eye"></i></div>
                    <p>Visibility {{weatherInfo.current.vis_km}} Km</p>
                </div>
    
                <div class="weather-info state div4" >
                    <div class="icon"><i class="fa-solid fa-droplet"></i></div>
                    <p>Humidity {{weatherInfo.current.humidity}}%</p>
                </div>
    
                <div class="weather-info state div5" >
                    <div class="icon"><i class="fa-solid fa-cloud"></i></div>
                    <p>Cloud {{weatherInfo.current.cloud}}</p>
                </div>
            </div>
        </div>
    </div>

</section>
