<section>
    <div class="container">
        <div class="info">
            <h2>Today Weather</h2>
            <p>We will display here the weather details according to your current GeoLocation</p>

        </div>

        <div class="grid">
            <div class="weather-info">
                <div class="city">
                    <h3>London</h3>
                    <div class="icon">
                        <i class="fa-solid fa-sun"></i>
                    </div>
                </div>

                <div class="weather-degree">
                    <p>Today, 04 April</p>
                    <span class="degree">24°</span>
                    <span>Sunny</span>
                    <div class="info-row">
                        <span>19 km/h</span>
                        <span class="divider">|</span>
                        <span>Wind</span>
                      </div>
                      
                      <div class="info-row">
                        <span>Hum 22%</span>
                        <span class="divider">|</span>
                        <span>22%</span>
                      </div>
                </div>
            </div>

            <div class="wind">
                <div class="icon"><i class="fa-solid fa-wind"></i></div>
                <p>Wind 19 km/h</p>
            </div>

            <div class="visibility">
                <div class="icon"><i class="fa-solid fa-wind"></i></div>
                <p>Visibility 10 Km</p>
            </div>

            <div class="humadity">
                <div class="icon"><i class="fa-solid fa-wind"></i></div>
                <p>Humidity 22%</p>
            </div>
        </div>
    </div>
</section>
